/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'),
    url('../fonts/roboto-v20-latin-300.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/roboto-v20-latin-300.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
    url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/roboto-v20-latin-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'),
    url('../fonts/roboto-v20-latin-500.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/roboto-v20-latin-500.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'),
    url('../fonts/roboto-v20-latin-700.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/roboto-v20-latin-700.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-900 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto Black'), local('Roboto-Black'),
    url('../fonts/roboto-v20-latin-900.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/roboto-v20-latin-900.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
}

.mt-0 {
  margin-top: 0;
}

#title {
  font-size: 14px;
}

.tabsList {
  max-height: 174px;
  overflow: auto;
  list-style: none;
  padding-left: 0;
  border-radius: 2px;
  border: 1px solid #ddd;
}

.tabsList li {
  padding: 10px 15px;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
}

.tabsList li:first-child {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.tabsList li:last-child {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom: transparent;
}

.tabsList li:hover {
  background-color: #f1f1f1;
}

.tabsList li a {
  text-decoration: none;
  color: #1f4788;
  width: 400px;
  max-width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tabsList li span {
  margin-left: 15px;
  cursor: pointer;
}

.flex {
  display: flex;
  flex: 1;
}

.txtControl {
  border: 1px solid #ddd;
}

.txtControl.error {
  border-color: #dc3545;
}

.btn,
.txtControl {
  outline: none;
  border-radius: 2px;
  padding: 6px 8px;
}

.btn-primary,
.btn-danger {
  color: #fff;
  cursor: pointer;
  border: 1px solid transparent;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-danger:hover {
  background-color: #c82333;
  border-color: #bd2130;
}

.tabs {
  display: flex;
  flex: 1;
}

.tab {
  padding: 10px 15px;
  display: flex;
  flex: 1;
  justify-content: center;
  text-transform: capitalize;
  cursor: pointer;
  font-weight: 500;
}

.tab:not(.active) {
  border-bottom: 1px solid #ddd;
}

.tab.active {
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.tab-pane {
  display: none;
  width: 460px;
  margin-top: 1em;
}

.tab-pane.active {
  display: block;
}

#lstGroups .groupcontainer:first-child {
  margin-top: 0;
}

.groupcontainer {
  margin: 5px 0;
  border-radius: 2px;
  border: 1px solid #ddd;
}

.groupcontainer .groupheader {
  padding: 0 10px;
  text-transform: capitalize;
}

.groupcontainer .groupheader .fa {
  margin: 0 10px;
  cursor: pointer;
}

.groupcontainer .groupheader .fa:first-child {
  margin-left: 15px;
}

.groupcontainer .tabsList {
  display: none;
  margin: 0;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.groupcontainer.in .tabsList {
  display: block;
}

.norecords {
  margin: 10px 0;
  text-align: center;
}

#drag-drop {
  position: relative;
  margin-top: 10px;
  height: 150px;
  border: 2px dashed #bbb;
  background-color: #eee;
}

#drag-drop:before {
  content: 'Drop Here';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 18px;
  color: #aaa;
}